{% extends 'rein/base.html' %}
{% block content %}
{% if user.is_authenticated and userprofile.user.pk == user.pk %}
<a href="{% url 'recommend:create' %}"> Add a recommendation</a> 
{% endif %}
<h2>Recommendations</h2>
<ul>
	{% for recommendation in object_list %}
	<li> <a href="{% url 'recommend:detail' pk=recommendation.pk %}">{{ recommendation.name }} </a> 
		recommeneded by 
		<a href="{% url 'core:detail' pk=recommendation.ownby.pk %}"> {{ recommendation.ownby }} </a>
	</li>
	{% endfor %}
</ul>
{% endblock content %}
