{% extends 'rein/base.html' %}
{% block title %}
    Renovation Experience - {{ block.super }}
{% endblock title %} 

{% block content %}
<h2>RenovationExperience</h2>
<ul>
	{% for experience in renovation %}
		<li> {{ experience.name }} 
			(<a href="{% url "experience:edit_reno" pk=experience.pk %}">edit</a>)
			(<a href="{% url "experience:delete_reno" pk=experience.pk %}">delete</a>)
		</li>
	{% endfor %}
</ul>

<h2>{{ mode }} a Renovation Experience</h2>
{% include 'rein/bootstrap_form.html'%}

{% endblock %}
