{% extends 'rein/base.html' %}
{% load bootstrap3 %}
{% block title %}
    About us - {{ block.super }}
{% endblock title %} 

{% block content %}
<h1>Who is this for?</h1>
This online community is for any real estate investors in Ontario who believe in helping out each other is the best way to succeed.
<ul>
        <li> Experienced investors share the team behind their success</li>
        <li> Novice investors replicate the success by starting with a strong team</li>
</ul>

<h1>Why share?</h1>
It helps everyone!
<ul>
        <li> Help the professionals who helped you - refer them new clients. </li>
        <li> Help the novice investors - most investors started out not knowing whom to trust. </li>
        <li> Help yourself - grow your network and reputation. </li>
</ul>

<h1>How is this different?</h1>
Other recommendation websites
<ul>
        <li>primarily serve the businesses as an advertising platform - businesses ask users to post good reviews</li>
        <li>you typically don't know the recommender</li>
        <li>you can't contact the recommender for further inforamtion</li>
</ul>

ILikeThem.ca is different:
<ul>
        <li>driven by user recommendation, not business advertising - users post referrals out of goodwill</li>
        <li>you have met or will meet the recommender (e.g. at investor networking event)</li>
        <li>the recommender is happy to provide further information</li>
</ul>

<h1>Who created this?</h1>
An amatuer investor who started out not knowing whom to trust and by luck stumble upon great honest people.
<br/>
You can check out my investor profile here and reach me at Stephen.Tse@ilikethem.ca
<br/>
I would love to hear your thoughts on real estate investment or the website.

{% endblock %}
