{% load static %}
<!doctype html>
<html>
	<head>
		<title>
			{% block title %}
			My Rein Project
			{% endblock title %}
		</title>

		<!-- TODO
		<link rel="stylesheet" href="%{ static 'rein/css/style.css' %}"/>
		-->


		{% block header %}{% endblock header %}
	</head>

	<body>
		<h3>Accounts</h3>
		{% if user.is_authenticated %}
			<li><a href="{% url 'core:myuserprofile' %}">My UserProfile</a></li>
			<li><a href="{% url 'business:myprofile' %}">My BusinessProfile</a></li>
			<li><a href="{% url 'recommend:my' %}">My Recommendation</a></li>
			<li><a href="{% url 'auth_logout' %}">Logout from {{user}} </a></li>
		{% else %}
		<li>
		    <a href="{% url 'auth_login' %}">Login</a>
		</li>
		<li>
		    <a href="{% url 'registration_register' %}">Register</a>
		</li>
		{% endif %}

		{% block content %}{% endblock content %}

		{% block footer %}
		<h3>Links</h3>
		<ul>
			<li><a href="{% url 'core:userprofile_all' %}">All UserProfile</a></li>
			<li><a href="{% url 'business:service' %}">All BusinessService</a></li>
			<li><a href="{% url 'business:profile' %}">All BusinessProfile</a></li>
			<li><a href="{% url 'experience:all' %}">All Experience</a></li>
			<li><a href="{% url 'recommend:all' %}">All Recommendation</a></li>
			<li><a href="{% url 'business:create_service' %}">Create BusinessService</a></li>
		</ul>
		{% endblock footer %}
	</body>
</html>
