{% load static %}
<!doctype html>
<html>
	<head>
		<title>
			{% block title %}
			My Rein Project
			{% endblock title %}
		</title>

		<!-- TODO
		<link rel="stylesheet" href="%{ static 'rein/css/style.css' %}"/>
		-->


		{% block header %}{% endblock header %}
	</head>

	<body>
		{% block content %}{% endblock content %}
		{% block footer %}
		<h3>Links</h3>
			<a href="{% url 'business:service' %}">BusinessService</a>
			<a href="{% url 'business:profile' %}">BusinessProfile</a>
		{% endblock footer %}
	</body>

	
</html>
