{% extends 'rein/base.html' %}
{% block content %}
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="intro-heading"><span>I like them</span></h1>
                        <h3 class="intro-heading"><span>who you like?</span></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="{% url 'core:all' %}" class="btn btn-default btn-lg"><span class="network-name">Browse</span></a>
                            </li>
                            <li>
                                <a href="{% url 'core:my' %}" class="btn btn-default btn-lg"><span class="network-name">Share</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
{% endblock content %}
