{% load static %}
<!doctype html>
<html>
	<head>
		<title>
			{% block title %}
			My Rein Project
			{% endblock title %}
		</title>

		<!-- TODO
		<link rel="stylesheet" href="%{ static 'rein/css/style.css' %}"/>
		-->


		{% block header %}{% endblock header %}
	</head>

	<body>
		{% block content %}{% endblock content %}
		{% block footer %}
		<h3>Links</h3>
			<a href="{% url 'core:userprofile_all' %}">All UserProfile</a>
			<a href="{% url 'core:create_userprofile' %}">Create UserProfile</a>
			<br/>
			<a href="{% url 'business:service' %}">All BusinessService</a>
			<a href="{% url 'business:create_service' %}">Create BusinessService</a>
			<br/>
			<a href="{% url 'business:profile' %}">All BusinessProfile</a>
			<a href="{% url 'business:create_profile' %}">Create BusinessProfile</a>
			<br/>
			<a href="{% url 'experience:all' %}">All Experience</a>
			<br/>
			<a href="{% url 'recommend:all' %}">All Recommendation</a>
			<a href="{% url 'recommend:create' %}">Create Recommendation</a>
		{% endblock footer %}
		<h3>Accounts</h3>
		{% if user.is_authenticated %}
		<li>
		    <a href="{% url 'auth_logout' %}">Logout</a>
		</li>
		{% else %}
		<li>
		    <a href="{% url 'auth_login' %}">Login</a>
		</li>
		<li>
		    <a href="{% url 'registration_register' %}">Register</a>
		</li>
		{% endif %}

	</body>

	
</html>
