{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!doctype html>
<html>
	<head>

		<!-- Bootstrap -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Bootstrap Core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

<!-- overriding bootstrap default style -->
<style>
.navbar-default {
	background-color: orange;
}
</style>

		<title>
			{% block title %}
			My Rein Project
			{% endblock title %}
		</title>

		{% block header %}{% endblock header %}
	</head>

	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top topnav" role="navigation">
			<div class="container topnav">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand topnav" href="{% url 'home' %}">Home</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'core:userprofile_all' %}">All UserProfile</a></li>
								<li><a href="{% url 'business:profile' %}">All BusinessProfile</a></li>
								<li><a href="{% url 'recommend:all' %}">All Recomendation</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Me<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'core:myuserprofile' %}">My UserProfile</a></li>
								<li><a href="{% url 'business:myprofile' %}">My BusinessProfile</a></li>
								<li><a href="{% url 'recommend:my' %}">My Recommendations</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{% url 'core:edit_userprofile' %}">Edit UserProfile</a></li>
								{% block edit_dropdown %} {% endblock edit_dropdown %}
								<li role="separator" class="divider"></li>
								<li><a href="{% url 'business:create_profile' %}">Add BusinessProfile</a></li>
								<li><a href="{% url 'recommend:create' %}">Add Recomendation</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin only<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'core:userprofile_all' %}">All UserProfile</a></li>
								<li><a href="{% url 'business:service' %}">All BusinessService</a></li>
								<li><a href="{% url 'business:profile' %}">All BusinessProfile</a></li>
								<li><a href="{% url 'experience:all' %}">All Experience</a></li>
								<li><a href="{% url 'recommend:all' %}">All Recommendation</a></li>
								<li><a href="{% url 'business:create_service' %}">Create BusinessService</a></li>
								<li><a href="{% url 'experience:create_reno' %}">Create RenovationExperience</a></li>
								<li><a href="{% url 'recommend:create' %}">Create Recommendation</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<li><a href="{% url 'auth_logout' %}">Logout {{user}}</a></li>
						{% else %}
						<li><a href="{% url 'auth_login' %}">Login</a></li>
						<li><a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></li>
						<li><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a></li>
						<li><a href="{% url 'registration_register' %}">Register</a></li>
						{% endif %}
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>

<div>
		{% block content %}{% endblock content %}
</div>

		{% block footer %} {% endblock footer %}

		<!-- jQuery -->
		<script src="{% static 'js/jquery.js' %}"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>
