{% extends 'rein/base.html' %}
{% block content %}
<h2>BusinessProfileDetail</h2>
<h3> {{ object.name }}</h3>
<ul>
	<li> Owner: <a href="{% url 'core:userprofile_detail' pk=object.ownby.pk %}"> {{ object.ownby }} </a></li>
	<li> Email: {{ object.email }} </li>
	<li> Phone: {{ object.phone }} </li>
	<li> Website: {{ object.website }} </li>
	<li> Services: {{ object.service.all | join:", " }} </li>
	<li> HeadOffice: {{ object.city_headquarter }} </li>
</ul>

{% if user.is_authenticated and user.pk == object.user.pk %}
Actions
<ul>
	<li><a href="{% url 'business:edit_profile' pk=object.pk %}"> Edit me </a></li>
	<li><a href="{% url 'business:delete_profile' pk=object.pk %}"> Delete me </a></li>
</ul>
{% endif %}

{% endblock content %}
