{% extends 'rein/base.html' %}
{% block content %}
<h2>BusinessProfileDetail</h2>
<h3> {{ object.name }}</h3>
<ul>
	<li> Owner: <a href="{% url 'core:userprofile_detail' pk=object.ownby.pk %}"> {{ object.ownby }} </a></li>
	<li> Email: {{ object.email }} </li>
	<li> Phone: {{ object.phone }} </li>
	<li> Website: {{ object.website }} </li>
	<li> Services: {{ object.service.all | join:", " }} </li>
	<li> HeadOffice: {{ object.city_headquarter }} </li>
</ul>

{% endblock content %}

{% block edit_dropdown %}
    {% if user.is_authenticated and user.pk == object.user.pk %}
    <li><a href="{% url 'business:edit' pk=object.pk %}">Edit BusinessProfile</a></li>
    <li><a href="{% url 'business:delete' pk=object.pk %}">Delete BusinessProfile</a></li>
    {% endif %}
{% endblock edit_dropdown %}
